/* Style for the entire app */
.app {
  text-align: center;
  background-color: #002333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image1 {
  width: 100vw; /* 100% of viewport width */
  height: 100vh; /* 100% of viewport height */
  margin-bottom: 10px;
}



/* Navigation styles */


/* About section styles */
.aboutSection {
  margin-top: 0;
  margin-bottom: 75px;
  text-align: left;
  padding-left: 100px;
  padding-right: 80px;
  height: 75vh;
  
}

.introductionHeading {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
}

.introductionContent {
  font-size: 1.2rem;
  color: #ffffff;
}

/* Our Works section styles */
.ourWorksSection {
  /* background: #fff; */
  height: 100vh;
  margin-top: 50px;
  color: white;
  margin-bottom: 50px;
  width: 80%;
}

.worksContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1px;
}

.work {
  width: 100%;
}

/* Our Founder Words section styles */
.ourFounderWordsSection {
  /* background-color: #fff; */
  color: #ffffff;
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.founderWordsContent {
  padding-top: 30px;
  flex: 1;
  display: flex;
  padding-right: 50px;
  text-align: left;
}

.founderWordsParagraph {
  font-size: 1rem;
  color: #ffffff;
  text-align: left;
}

.founderWordsImageContainer {
  margin-left: 10px;
}

.founderWordsImage {
  width: 600px;
  height: 600px;
  border-radius: 8px;
}

/* Our Vision section styles */
.ourVisionSection {
  /* background-color: #fff; */
  padding: 50px 0;
  display: flex;
  flex-direction: row;
  color: white;
}
/* 
.visionImageContainer {
  flex: 1;
} */

.visionImage {
  Width: 100%;
  width: 500px;
  height: 600px;
  max-height: 100%;
  border-radius: 8px;
  padding-left: 100px;
}

.visionContent {
  /* flex: 1; */
  padding-left: 50px;
  padding-right: 25px; /* Adjusted paddingLeft for space between image and paragraph */
}

.visionParagraph {
  font-size: 1rem;
  color: whitesmoke;
  text-align: left;
}

/* Our Mission section styles */


/* Our Values section styles */
.ourValuesSection {
  /* background-color: #fff; */
  margin-top: 50px;
  margin-bottom: 0px;
  width: 100%;
  padding: 10px;
  color: #fff;
}

.valuesContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.value {
  text-align: center;
  width: 30%;
  margin-bottom: 30px;
}

.circle {
  width: 100px;
  height: 100px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
}

/* Footer styles */
/* .footer {
  background-color: #053047;
  color: white;
  padding: 30px;
  bottom: 0;
  width: 98vw;
} */