/* /* .footer {
    background-color: #053047;
    color: white;
    padding: 30px;
    bottom: 0;
    width: auto;
  } */
  .footer {
    background-color: #053047;
    color: white;
    padding: 30px;
    /* /* padding-left: 50px;  */
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
  }

.contact-info {
  margin-right: auto;
  text-align: left;
}

.contact-info h2 {
  margin-bottom: 5px;
}

.contact-info ul {
  list-style: none;
  padding: 0;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: auto;
  text-align: left;
}

.menu h2 {
  margin-bottom: 10px;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.social-icons {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.social-icons div {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ccc;
  margin-bottom: 10px;
}

.social-icons p {
  margin: 0;
}

.social-icons .icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 5px;
}
