/* styles/ForgotPassword.css */

.container {
  max-width: 400px;
  margin: 30px 100px auto;
  border: 1px solid #ccc;
  border-radius: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.new {
  padding-left: 90px;
  margin-top: 25px;
  color: black;
  
}

.form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 20px;
}

.label {
  margin-bottom: 10px;
}

.input {
  width: 100%;
  padding: 10px;
  background: rgba(0, 0, 0, 0);
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  box-sizing: border-box;
  margin-left: 0px;
}

.button {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

.topSection {
  background-color: #003a55;
  display: flex;
  height: 65px;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  color: #fff;
  box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.5);
}

