
.app {
    text-align: center;
    background-color: #002333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  
  .nav {
    background-color: #053047;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    position: sticky;
    top: 0px;
  }
  
  .logo {
    margin-top: 25px;
    height: 50px;
    width: 100px;
    position: relative;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  
  nav li {
    margin: 0 15px;
    cursor: pointer;
    color: white;
    text-decoration: none;
  }
  a{
    color: white;
    text-decoration: none;
  }
  
  .loginButton {
    background-color: #002333;
    color: #00ff84;
    padding: 10px 15px;
    border-radius: 0px;
    cursor: pointer;
    margin-right: 20px;
  }
  
  .sliderContainer {
    width: 100%;
    max-width: 100%;
    margin-left: 0px;
    margin-top: 0px;
    overflow: hidden;
  }
  
  .carouselContainer {
    box-sizing: border-box;
  }
  
  .carouselImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .eventsSection {
    margin-top: 60px;
    margin-bottom: 70px;
    display: flex;
    width:100%;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .eventCard {
    width: 25%;
    margin: 10px;
    box-shadow:4px 6px 10px rgba(255, 254, 254, 0.5);
    border-radius: 0px;
    overflow: hidden;
  }
  .eventImage {
    width: 100%;
    height: 220px;
    object-fit: cover;
  }
  .eventCardContent {
    padding: 35px;
  }
  .eventTitle {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 50px;
  }
  .eventDescription {
    font-size: 1rem;
    color: #555;
  }
  /* .registerbutton {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #00ff84;
    z-index: 1;
    background: #fff;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
   }
   
   .resgisterbutton::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   .registerbutton:hover {
    color: white;
    background-color: #002333;
   }
   
   .registerbutton:hover::before {
    width: 100%;
   }  */
   .button-name {
    align-items: center;
    appearance: none;
    background-color: #002333;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px,rgba(45, 35, 66, 0.15) 0 7px 13px -3px,#002333 0 -3px 0 inset;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 38px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    margin-top: 20px;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap; 
    will-change: box-shadow,transform;
    font-size: 15px;
   }
   .button-name:focus {
    box-shadow: #002333 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #002333 0 -3px 0 inset;
   }
   
   .button-name:hover {
    box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #002333 0 -3px 0 inset;
    transform: translateY(-2px);
   }
   
   .button-name:active {
    box-shadow: #002333 0 3px 7px inset;
    transform: translateY(2px);
   }
    

.programGrid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 40px;
  }
  
  .programRow {
    display: flex;
    margin: -18px;
    justify-content: space-around;
    width: 97%;
  }
  
  .programCard {
    width: 100%;
    margin: 2px;
    /* boxShadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    border-radius: 0px;
    overflow: hidden;
    position: relative;
  }
  
  .programImage {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  
  .programName {
    position: relative;
    top: -11%;
    left: 10%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }
  
  .card {
    width: 190px;
    height: 254px;
    border-radius: 20px;
    background: #f5f5f5;
    position: relative; 
    margin:130px;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
   }
   
   .card-details {
    color: black;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
   }
   
   .card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #002333;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: relative;
    left: 30%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
   }
   
   .text-body {
    color: rgb(134, 134, 134);
   }
   
  
   .text-title {
    font-size: 1.5em;
    font-weight: bold;
   }
   
   
   .card:hover {
    border-color: #063049;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }
   
   .card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 4;
   }


.main {
    flex: 1;
    color: #eee;
    padding: 0px;
  }
  
  .footer {
    background-color: #053047;
    color: white;
    padding: 30px;
    bottom: 0;
    width: auto;
  }
  
  .aboutSection {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  

  .statisticsSection {
    width: 100%;
    display: flex;
    text-align: center;
    margin-bottom: 100px;
    background-color: #002333; 
  }
  
  .statisticsContent {
    display: flex;
    justify-content: space-around;
    margin-top: 0px;
    align-items: center;
    flex-wrap: wrap; 
  }
  
  .statisticItem {
    flex: 1;
    color: #00ff84;
    flex-direction: row;
    padding: 0px;
    border: 0px solid;
    border-radius: 0px;
    /* margin-right: 80px;
    margin-left: 80px; */
    /* box-shadow: 0px 3px 10px rgba(0, 255, 132, 0.5); */
    background-color: #012a3d;
    position: relative;
  }
  
  .statisticValue {
    font-weight: bold;
    padding: 55px;
    margin-left: 10px;
    margin-right: 20px;
    font-size: 36px;
    position: relative;
  }

  
  .statisticLine {
    
    position: relative;
    top: -155px;
    bottom: 0px;
    left: 15px;
    margin-right: 100%;
    height: 50%;
    border-radius: 25px;
    width: 5px;
    background-color: rgb(0, 255, 132);
    transform: translateX(-50%);
  }
  