/* Global CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Styles for LoginForm component */

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.formBox {
  display: flex;
  background: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  width: 750px;
  font-family: 'Arial, sans-serif';
  background-color: #ffffff;
}

.leftSection,
.rightSection {
  flex :1;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0;
}

.leftSection {
  margin-right: 30px; 
}

.rightSection {
  background-color: #003a55;
  color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding-top: 300px;
}

.inputBox {
  margin-top: 10px;
  margin-bottom: 20px;
}

.inputField {
  width: 100%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.0);
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  color: #000;
  margin-bottom: 0px;
    margin-left: 0px;
}

.rememberForgot {
  display: flex;
  flex-direction: row ;
  justify-content: space-between;
  align-items: left;
  margin-bottom: 20px;
  font-size: 14px;
}

.btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}
.checkbox{
color:#fff ;
background-color: #063049;
border-bottom-color: white;
border-top: none;
border-left: none;
border-right: none;
border-width: 10px;
margin-bottom: 0px;
margin-left: 7px;
width: 15px;
color: white;
}

.registerLink {
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
  margin-left: 30px;
}

.loginRegister {
  margin-top: 30px;
  text-align: center;
}
