.nav {
    background-color: #053047;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width:100vw;
    position: sticky;
    top: 0px;
    /* z-index: 1; */
  }
  
  .logo {
    margin-top: 25px;
    padding-left: 80px;
    height: 50px;
    width: 100px;
    position: relative;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  
  .navLi {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .navLi {
    --primary-color: #111;
    --hovered-color: #ffffff;
    position: relative;
    display: flex;
    font-weight: 600;
    font-size: 20px;
    gap: 0.5rem;
    align-items: center;
    margin-right: 25px;
  }
  
  .navLi p {
    margin: 0;
    position: relative;
    font-size: 20px;
    color: var(--primary-color);
  }
  
  .navLi::after {
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    bottom: -7px;
    background: var(--hovered-color);
    height: 2px;
    transition: 0.3s ease-out;
  }
  
  .navLi p::before {
    position: absolute;
    /*   box-sizing: border-box; */
    content: "Subscribe";
    width: 0%;
    inset: 0;
    color: var(--hovered-color);
    overflow: hidden;
    transition: 0.3s ease-out;
  }
  
  .navLi:hover::after {
    width: 100%;
  }
  
  .navLi:hover p::before {
    width: 100%;
  }
  

  a{
    color: white;
    text-decoration: none;
  }
  
  .loginButton {
    background-color: #002333;
    color: #00ff84;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
  }
 