.app{
  text-align: center;
  background-color: #002333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: #002333ec;
  /* box-shadow: inset 0 0 5px #002333; */
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  background: #063049;
  border-radius: 0px;
}
.nav {
  background-color: #053047;
  color: white;
  padding: 20px;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 98%;
  position: sticky;
  top: 0px;
  z-index: 10;
}
.logo {
  margin-top: 25px;
  height: 50px;
  width: 100px;
  position: relative;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

nav li {
  margin: 0 15px;
  cursor: pointer;
  color: white;
  text-decoration: none;
}
a{
  color: white;
  text-decoration: none;
}

.loginButton {
  background-color: #002333;
  color: #00ff84;
  padding: 10px 15px;
  border-radius: 0px;
  cursor: pointer;
  margin-right: 20px;
}


.Image {
  position:relative;
  display: block;
  margin-bottom: 5px;
  width: 100%;
  height: 100%;
}
.programSection {
  position: relative;
  display: flex;
  flex-direction: row;
}

.image {
  position: relative;
  display: block;
  margin-bottom: 5px;;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  bottom: 0%;
  left: 0%;
  right: 100%;
  background-color: rgba(5, 48, 71, 0.4);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.programSection:hover .overlay {
  width: 50%;
  left: 0;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.footer {
  background-color: #053047;
  color: white;
  padding: 30px;
  bottom: 0;
  width: 95vw;
  padding-left: 50px;
}