::-webkit-scrollbar {
    width: 10px;
    height: 0px;
  }
  
  ::-webkit-scrollbar-track {
    background: #002333ec;
    /* box-shadow: inset 0 0 5px #002333; */
    border-radius: 1px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 10px;
  }